---
import BaseLayout from "@components/BaseLayout.astro";
import { Divider } from "@ui/Divider";
import { Strong, Text } from "@ui/Text";
---

<BaseLayout title="404 - Léo Mercier">
  <section class="flex h-screen flex-auto flex-col items-center justify-center px-4 text-center sm:flex-row">
    <div class="flex flex-row items-center gap-x-6">
      <Strong className="text-3xl">404</Strong>
      <Divider className="h-6" vertical />
      <Text className="text-xl">Page not found</Text>
    </div>
  </section>
</BaseLayout>
