---
import { Font } from "astro:assets";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ThemeManager from "@components/ThemeManager.astro";

const { author, description, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      property="og:description"
      content={description ?? "A blog created by Leo Mercier on tech subjects."}
    />
    <meta name="author" content={author ?? "Léo Mercier"} />
    <meta name="copyright" content="CC BY-NC-SA" />

    <link rel="canonical" href={Astro.url} />
    <meta content="origin" name="referrer" />

    <link rel="preconnect" href="/" />

    <Font cssVariable="--font-aktiv-grotesk" preload />
    <Font cssVariable="--font-jetbrains-mono" preload />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Léo Mercier's blog" />

    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fafafa" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#18181b" />

    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />

    <meta property="og:site_name" content="Léo Mercier's blog" />
    <meta property="og:title" content={title ?? "Léo Mercier's blog"} />
    <meta property="og:type" content="website" />

    <link rel="alternate" type="application/rss+xml" title="Léo Mercier's blog" href={`${Astro.site}rss.xml`} />

    <title>{title ?? "Léo Mercier's blog"}</title>

    <ThemeManager />
  </head>
  <body class="scheme-light antialiased min-h-screen overflow-x-hidden font-sans bg-zinc-50 transition-colors ease-in-out duration-300 selection:bg-sky-500 selection:text-white dark:bg-zinc-900 dark:scheme-dark">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import "tailwindcss";

  @variant dark (&:is([data-theme="dark"] *));

  @theme inline {
    --font-sans: var(--font-aktiv-grotesk);
    --font-mono: var(--font-jetbrains-mono);
  }
</style>
