---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";

const { author, description, title } = Astro.props;
---

<html lang="en" class="bg-zinc-50 dark:bg-zinc-900 dark:[color-scheme:dark]">
  <head>
    <style>
      @font-face {
        font-family: "Source Serif Pro";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/source-serif-pro/source-serif-pro.regular.woff2") format("woff2");
        unicode-range: U+000-5FF;
      }

      @font-face {
        font-family: "Source Serif Pro";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url("/fonts/source-serif-pro/source-serif-pro.bold.woff2") format("woff2");
        unicode-range: U+000-5FF;
      }

      @font-face {
        font-family: "Source Serif Pro";
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url("/fonts/source-serif-pro/source-serif-pro.semibold.woff2") format("woff2");
        unicode-range: U+000-5FF;
      }

      @font-face {
        font-family: "Fira Code";
        font-style: normal;
        font-weight: 300 700;
        font-display: swap;
        src: url("/fonts/fira-code/FiraCode.woff2") format("woff2-variations");
      }
    </style>

    <meta charset="UTF-8" />
    <meta content="light dark" name="color-scheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      property="og:description"
      content={description ?? "A blog created by Leo Mercier on tech subjects."}
    />
    <meta name="author" content={author ?? "Léo Mercier"} />
    <meta name="copyright" content="ISC" />

    <link rel="canonical" href={Astro.url} />
    <link rel="preconnect" href="/" />
    <meta content="origin" name="referrer" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />

    <meta property="og:site_name" content="Léo Mercier's blog" />
    <meta property="og:title" content={title ?? "Léo Mercier's blog"} />
    <meta property="og:type" content="website" />

    <link rel="alternate" type="application/rss+xml" title="Léo Mercier's blog" href={`${Astro.site}rss.xml`} />

    <title>{title ?? "Léo Mercier's blog"}</title>
  </head>
  <body class="antialiased min-h-screen overflow-x-hidden font-serif selection:bg-sky-500 selection:text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
/* Remove the codeblock override in mdx */
pre code {
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}
</style>
