---
import rss from "@assets/rss.svg?raw";
import { Button } from "@ui/Button";
import { Heading } from "@ui/Heading";
import { Input } from "@ui/Input";
import { Text, TextLink } from "@ui/Text";
---

<footer class="mt-16 border-t dark:border-white/[0.2] px-4 pb-28">
  <section class="mx-auto max-w-4xl py-12">
    <Heading className="mb-4 leading-8">Get all of my posts directly in your inbox!</Heading>
    <form class="flex flex-col gap-y-3 sm:max-w-lg sm:flex-row sm:gap-x-3">
      <Input type="email" placeholder="Subscribe by email" required />
      <Button type="submit" client:visible>Subscribe</Button>
    </form>
    <div class="mt-4 flex items-center justify-center gap-x-2 sm:justify-start">
      <TextLink href="/rss.xml" className="no-underline" aria-label="rss" data-astro-prefetch>
        <Fragment set:html={rss} />
      </TextLink>
      <Text className="text-sm">© Léo Mercier — {new Date().toLocaleDateString("en", { year: "numeric" })}</Text>
    </div>
  </section>
</footer>
