---
import Moon from "@assets/moon.svg";
import Signature from "@assets/signature.svg";
import Sun from "@assets/sun.svg";
import { HeaderMenu } from "@components/HeaderMenu";
import { SignIn } from "@components/SignIn";
import { ThemeToggle } from "@components/ThemeToggle";
import { Divider } from "@ui/Divider";
import { TextLink } from "@ui/Text";

const { user } = Astro.locals;
---

<header
  class="sticky top-0 z-40 w-full flex-none border-b border-gray-200 p-2 backdrop-blur-sm transition-colors duration-500 sm:px-4 dark:border-white/[0.2]"
>
  <nav class="mx-auto flex max-w-6xl items-center justify-between">
    <TextLink href="/" newTab={false} className="no-underline" aria-label="logo" data-astro-prefetch>
      <Signature class="h-9" />
    </TextLink>
    <div class="flex items-center gap-x-3 md:gap-x-6">
      <TextLink href="https://leomercier.dev" className="no-underline">About</TextLink>
      <Divider className="h-7" vertical />
      <ThemeToggle client:visible>
        <Sun class="size-4 dark:hidden" aria-hidden />
        <Moon class="size-4 hidden dark:block" aria-hidden />
      </ThemeToggle>
      {!user ?
        <SignIn client:visible />
        :
        <div class="flex items-center gap-x-2 md:gap-x-4">
          <HeaderMenu userImage={user.avatar} client:visible />
        </div>
      }
    </div>
  </nav>
</header>
